@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
	box-sizing: border-box;
}

body {
	margin: 0;
}

::-webkit-scrollbar {
	width: 18px;
	height: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(188, 188, 188, 0.5);
	border-radius: 1.2rem;
	border: 3px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(188, 188, 188, 0.8);
}

::-webkit-scrollbar-track {
	background-color: rgba(188, 188, 188, 0.2);
	border-radius: 1.2rem;
}
